#!/bin/bash
set -euo pipefail
UNITY_PATH="${UNITY_PATH:-__UMP_UNITY_PATH__}"

"$UNITY_PATH" -batchmode -quit   -projectPath "$WORKSPACE"   -executeMethod JenkinsBuild.BuildIOS   -buildTarget iOS   -logFile -
